<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span (click)="sidenav.toggle()" class="menu-icon">
      <mat-icon aria-hidden="false">menu{{opened? '_open' : ''}}</mat-icon>
    </span>
    <span><img src="assets/images/logotipo-unip.png" alt="Logotipo Unip" class="logotipo"></span>
    <!-- <span class="item-spacer"></span>
    <mat-icon class="example-icon" aria-hidden="false">favorite</mat-icon>
    <mat-icon class="example-icon" aria-hidden="false">delete</mat-icon> -->
  </mat-toolbar-row>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav mode="side" #sidenav mode="side" [(opened)]="opened" (opened)="events.push('open!')"
    (closed)="events.push('close!')">
    <mat-nav-list>
      <a mat-list-item routerLink=".">
        <mat-icon aria-hidden="false" aria-label="Ícone gerenciar menu.">settings_applications</mat-icon> Gerenciar Menu
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar class="breadcrumb">
      <span class="menu-icon">
        <mat-icon aria-hidden="false" class="head-ico">settings_applications</mat-icon>
      </span>
      <span>Gerenciar - Menu</span>
      <span class="item-spacer"></span>
      <button mat-raised-button color="primary">
        <mat-icon aria-hidden="false">add</mat-icon> Novo Item
      </button>
    </mat-toolbar>

    <div class="main-content">
      <table mat-table [dataSource]="dataSource" multiTemplateDataRows class="mat-elevation-z8">
        <ng-container matColumnDef="{{column}}" *ngFor="let column of columnsToDisplay">
          <th mat-header-cell *matHeaderCellDef> {{column}} </th>
          <td mat-cell *matCellDef="let element"> {{element[column]}} </td>
        </ng-container>

        <!-- Expanded Content Column - The detail row is made up of this one column that spans across all columns -->
        <ng-container matColumnDef="expandedDetail">
          <td mat-cell *matCellDef="let element" [attr.colspan]="columnsToDisplay.length">
            <div class="example-element-detail" [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
              <div class="example-element-diagram">
                <div class="example-element-position"> {{element.position}} </div>
                <div class="example-element-symbol"> {{element.symbol}} </div>
                <div class="example-element-name"> {{element.name}} </div>
                <div class="example-element-weight"> {{element.weight}} </div>
              </div>
              <div class="example-element-description">
                {{element.description}}
                <span class="example-element-description-attribution"> -- Wikipedia </span>
              </div>
            </div>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
        <tr mat-row *matRowDef="let element; columns: columnsToDisplay;" class="example-element-row"
          [class.example-expanded-row]="expandedElement === element"
          (click)="expandedElement = expandedElement === element ? null : element">
        </tr>
        <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
      </table>

    </div>

  </mat-sidenav-content>
</mat-sidenav-container>