@import "~@angular/material/prebuilt-themes/indigo-pink.css";

body {
    margin: 0;
}

.logotipo {
    height: 40px;
    margin-left: 30px;
    cursor: pointer;
}

.breadcrumb {
    color: #5f5f5f;
    .head-ico {
        margin: 10px 10px 0 0;
    }
}

.main-content{
    padding: 30px;
    min-height: 80vh;
}